// Define variables for your color scheme

// Goats4U color scheme
$light-blue: #E3FFFF;
$teal: #00A3A3;
$brown: #C3847A;
$dark-brown: #462620;
$green: #414311;
$maroon: #5A0B4D;
$purple: #5B5DA7;

// non color scheme colors: ignore
$red: #A44328;
$yellow: #FEE085;
$orange: #D77357;
$gray: #CED2DB;
$light-gray: #F4F4F6;