<footer class="sticky-bottom page-footer font-small pt-2 mt-5">

  <!-- Footer Elements -->
  <div class="container">
    <div class="row">
      <div class="col-12 py-1 my-2">
        <div class="mb-2 text-center">
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://goats4u.herokuapp.com/">Goats4U</a>
  </div>
</footer>

