
<div class="jumbotron jumbotron-fluid">
    <div class="container jumbo-text-container ml-5">
      <h1 class="display-4">Goats4U</h1>
      <p>Goats are like potato chips, you can't just have one.</p>
      <div class="buttons d-flex">
          <%= link_to "Browse now!", goats_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>