.card-category {
  overflow: hidden;
  height: 300px;
  box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
  background-size: cover;
  background-position: center;
  position: relative;
  color: $light-blue;
  z-index: 1;
}

.card-show {
  margin: 0 auto;
  height: 350px;
  box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
  background-size: cover;
  background-position: center;
  color: $light-blue;
  width: 60%
}

.card-category h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card-category p {
  font-size: 14px;
  opacity: .9;
  margin: 0;
  text-transform: capitalize;
}

.card-category-pricing {
  font-size: 16px;
  margin: 5px;
}

.card-category h1 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.no-underline a:hover{
  text-decoration: none !important;
}

/*
.card-category .card-category-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
} */

/* .card-category-infos .card-category-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
} */
