.jumbotron {
    color: white;
    background-image: url("https://images.pexels.com/photos/1773181/pexels-photo-1773181.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin: 0;
  }

.container{
    position: absolute;
    top: 250px;
}

.transparent{
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  position: absolute;
  width: 100%;
  z-index: 1;
}


.transparent-input{
  background: rgba(0, 0, 0, 0);
  border: 1px solid $brown;
  outline: none;
  color: $light-blue;
}

.transparent-input:focus{
  background: rgba(195, 132, 122, 0.3);
  color: $light-blue;
  border: none;
}

.transparent-input::placeholder{
  color: $light-blue;
}
