<div class="container-fluid background-banner mb-5 pb-5" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dtnzbx6ci/image/upload/v1598041405/descarga_oj6fbn.jpg">
  <div class="container mb-5 pb-5">
    <div class="row justify-content-center">
      <h2 class="mb-2">Create a page for YOUR goat!</h2>
    </div>
    <%= render "shared/form", goat: @goat %>
  </div>
</div>
