<div>
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="mb-2">Create a page for YOUR goat!</h2>
    </div>
    <%= render "shared/form", goat: @goat %>
  </div>
</div>
